.landingNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.landingNav nav {
  position: static;
  background: #fcdbee !important;

  left: 50px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1); /* light tint */
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 10px 42px 0 rgba(31, 38, 135, 0.3);
  color: white;
  z-index: 10;
}
.landingNavBlur {
  background: #fcdbee;
  height: 100%;
  width: 100%;
}
.VeLoopLogo {
  margin: 0 0 0 3vw;
  padding: 1vw;
  height: 16vw;
  width: 16vw;
  /* border-radius: 50%; */
  overflow: hidden;
}
.VeLoopLogo img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.landingLogoTxt {
  margin: 0 0 0 5vw;
  -webkit-text-stroke: 1.5px #000;
  letter-spacing: 0.34vw;
  font-weight: 900;
  font-family: "poppins";
  font-size: 7.5vw;
}
