.portfolio {
  position: relative;

  display: flex;

  flex-direction: column;

  gap: 26px;

  width: 100%;

  min-height: 100vh;

  background: #181a2a;

  overflow: hidden;
}

@media (max-width: 768px) {
  .portfolio {
    gap: 24px;
    margin: 0 0 50px 0;
  }
}
