.icon {
  font-size: 1.8rem;
  margin-bottom: 14px;
}

.value {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.title {
  margin: 0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.9rem;
  letter-spacing: 0.3px;
}

@media (max-width: 575px) {
  .value {
    font-size: 1.25rem;
  }
  .title {
    font-size: 3.4vw;
  }
}

@media (max-width: 374px) {
  .value {
    font-size: 1rem;
  }
  .title {
    font-size: 3.4vw;
  }
}
