.tabsPara {
  margin: 0;
  font-size: 3.6vw;
  font-family: "poppins";
  letter-spacing: 0.2vw;
  font-weight: 400;
}

@media (min-width: 575px) {
  .tabsPara {
    font-size: 2.3vw;
  }
}

@media (min-width: 992px) {
  .tabsPara {
    font-size: 1.29vw;
    letter-spacing: 0.1vw;
  }
}
