body {
  background-color: #181a2a !important;
  color: #fff !important;
}

* {
  user-select: none;
}

.availPara {
  padding: 3.2vw 3.26vw;
  border-radius: 25px;
  font-family: "outfit";
  font-weight: 600;
  letter-spacing: 0.22vw;
  font-size: 3.45vw;
  color: #fff;
  background-color: #2e3147;
}
.homeBalance {
  font-size: 5.55vw;
  letter-spacing: 0.6vw;
  font-family: "outfit";
  font-weight: 700;
}
.walletTabs {
  font-family: "outfit";
  padding: 0 0 5px 0;
  margin: 0 4vw;
  font-size: 3.84vw;
  letter-spacing: 0.2vw;
}
.tabsSeperator {
  border-right: 2px solid #fff;
}

@media (min-width: 576px) {
  .availPara {
    padding: 12px 25px;
    letter-spacing: 0.27vw;
    font-size: 20px;
  }
  .homeBalance {
    letter-spacing: 0.38vw;
    font-size: 4.2vw;
  }
  .walletTabs {
    font-size: 2.35vw;
    margin-top: 12px;
  }
  .tabsSeperator {
    margin-bottom: 3px;
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  .availPara {
    padding: 10px 22px;
    letter-spacing: 0.1vw;
    font-size: 17px;
  }
  .homeBalance {
    letter-spacing: 0.17vw;
    font-size: 2.22vw;
  }
  .walletTabs {
    font-size: 1.27vw;
    margin: 8px 1.5vw;
    letter-spacing: 0.1vw;
  }
  .tabsSeperator {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}
