.bonusCont {
  background-image: url(../../../assets/bonusBack.webp);
  object-fit: cover;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.07vw 3vw;
  margin: 6vw 0 0 0;
  border: 2px solid #dcdcdc;
  border-radius: 20px;
}
.bonusinfoPointCont {
  display: flex;
}
.bonusCoin {
  font-size: 4.1vw !important;
  margin: 0 0 0 2.5vw;
  color: #ffd700;
  -webkit-text-stroke: 0.65px #000;
  font-weight: 900;
}
.bonusCount {
  font-size: 4.5vw;
}
.bonusReqWatch {
  font-size: 4.7vw;
  font-size: "poppins";
  color: #007bff;
  font-weight: 600;
}
.bonusinfoPointCont {
  font-size: 3.8vw;
  font-weight: 800;
  font-family: "poppins";
  letter-spacing: 0.2vw;
}
.bonusAdCount {
  display: flex;
  align-items: center;
}
.bonusAdCount button {
  margin: 0 0 0 2vw;
  padding: 2vw 2.27vw;
  border: none;
  border-radius: 14px;
  font-size: 4vw;
  font-family: "outfit";
  font-weight: 600;
  letter-spacing: 0.15vw;
}
.bonusAdCount button:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.05);
}

@media (min-width: 575px) {
  .bonusCont {
    padding: 2.67vw 5vw;
    margin: 3.9vw 2.2vw 0;
    border: none;
    border-radius: 20px;
  }

  .bonusCoin {
    font-size: 3vw !important;
    margin: 0 0 0 2.5vw;
  }
  .bonusCount {
    font-size: 3.1vw;
    font-weight: 700;
  }
  .bonusReqWatch {
    font-size: 22px;
    color: #007bff;
    font-weight: 900;
  }
  .bonusinfoPointCont {
    font-size: 2.85vw;
    font-weight: 800;
    letter-spacing: 0.2vw;
  }

  .bonusAdCount button {
    margin: 0 0 0 4vw;
    padding: 2vw 2.25vw;
    border: none;
    background-color: #fff;
    border-radius: 14px;
    font-size: 2.64vw;
    font-weight: 600;
    letter-spacing: 0.12vw;
  }
}

@media (min-width: 992px) {
  .bonusCont {
    padding: 0.9vw 5vw;
    margin: 2.37vw 8.37vw 0;
    border: none;
    border-radius: 13px;
  }

  .bonusCoin {
    font-size: 1.6vw !important;
    margin: 0 0 0 2.5vw;
  }
  .bonusCount {
    font-size: 1.6vw;
    font-weight: 700;
  }
  .bonusReqWatch {
    font-size: 20px;
    color: #007bff;
    font-weight: 900;
  }
  .bonusinfoPointCont {
    font-size: 1.4vw;
    font-weight: 800;
    letter-spacing: 0.2vw;
  }

  .bonusAdCount button {
    margin: 0 0 0 3vw;
    padding: 0.85vw 1.2vw;
    border: none;
    border-radius: 14px;
    font-size: 1.25vw;
    font-weight: 600;
    letter-spacing: 0.1vw;
  }
}
