.HomeEarnpara {
  color: #fff;
  font-size: 20px;
  font-family: "nunito";
  font-weight: 800;
  letter-spacing: 1px;
}

.homeEarnTaskUnd {
  display: block;
  height: 5px;
  width: 84px;
  border-radius: 5px;
  background-color: #ffd700;
}
.homeEarnTaskUnd2 {
  display: block;
  height: 6px;
  width: 100px;
  border-radius: 5px;
  background-color: #ffd700;
}
.homeEarnTaskUnd3 {
  display: block;
  height: 6px;
  width: 82px;
  border-radius: 5px;
  background-color: #ffd700;
}
.bonusCont {
  background-image: url(../../assets/bonusBack.webp);
  object-fit: cover;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5vw 3vw;
  margin: 4vw 0 0 0;
  border: 2px solid #dcdcdc;
  border-radius: 20px;
}
.bonusinfoPointCont {
  display: flex;
}
.bonusCoin {
  font-size: 4.1vw !important;
  margin: 0 0 0 2.5vw;
  color: #ffd700;
  -webkit-text-stroke: 0.65px #000;
  font-weight: 900;
}
.bonusCount {
  font-size: 4.5vw;
}
.bonusReqWatch {
  font-size: 4.7vw;
  font-size: "poppins";
  color: #007bff;
  font-weight: 600;
}
.bonusinfoPointCont {
  font-size: 3.8vw;
  font-weight: 800;
  font-family: "poppins";
  letter-spacing: 0.2vw;
}
.bonusAdCount {
  display: flex;
  align-items: center;
}
.bonusAdCount button {
  margin: 0 0 0 3vw;
  padding: 2vw 2.5vw;
  border: none;
  border-radius: 14px;
  font-size: 4vw;
  font-family: "outfit";
  font-weight: 600;
  letter-spacing: 0.15vw;
}
.bonusAdCount button:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.05);
}

.HomeEarnCard {
  position: relative;
  margin: 20px 0 15px 0;
  height: 50vw;
  width: 69vw;
  border: none;
  border-radius: 25px;
  background-color: #fff; /* #161827 */
  overflow: hidden;
}
.HomeEarnCard img {
  transform: scale(1.4);
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: all 0.6s ease-in-out;
}
.HomeEarnCard img:hover {
  transform: scale(1.6);
}

.newBadge {
  position: absolute;
  margin: 0;
  height: 120px !important;
  width: 140px !important;
  z-index: 7;
  top: -33px;
  left: -22px;
}

.limitedBadge {
  margin: 0 0 0 0;
  height: 64px !important;
  width: 145px !important;
  z-index: 7;
  position: absolute;
  top: -1px;
}
.exchangeImg {
  z-index: 10;
  padding: 10vw 7vw 9vw;
}

.HomeEarnCoins {
  margin: 0 0 0 4.4vw;
  font-size: 5.47vw;
  font-family: "nunito";
  font-weight: 700;
}
.HomeEarnAdsBtn {
  padding: 2.7vw 7vw;
  color: #fff;
  background-color: #007bff;
  border: 2px solid #fff;
  border-radius: 25px;
  font-size: 4.5vw;
  font-family: "outfit";
  font-weight: 600;
  letter-spacing: 0.12vw;
}
.HomeEarnAdsBtn:active {
  background-color: #161827;
}

.giveBackImage {
  width: 100%;
  height: 270px;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 25px;
  cursor: pointer;
}

.homeFollowLogo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.homeFollowLogo:hover {
  transform: scale(1.1);
}
.homeFollowDetail {
  margin: 0 0 0 5vw;
  font-size: 4.05vw;
  font-weight: 700;
  font-family: "nunito";
  letter-spacing: 0.2vw;
}
.homeFollowBtn {
  padding: 2.5vw 6.9vw;
  text-shadow: 3px 3px 3px #161827;
  font-family: "outfit";
  font-size: 4.75vw;
  font-weight: 600;
  letter-spacing: 0.18vw;
  background-color: #00bfa6;
  color: #fff;
  border: 1.8px solid #fff;
  border-radius: 25px;
}
.homeFollowBtn:active {
  background-color: #161827;
  border: 2px solid #fff;
}
@media (min-width: 575px) {
  .bonusCont {
    padding: 2.8vw 5vw;
    margin: 2.9vw 2vw 0;
    border: none;
    border-radius: 20px;
  }

  .bonusCoin {
    font-size: 3vw !important;
    margin: 0 0 0 2.5vw;
  }
  .bonusCount {
    font-size: 3.1vw;
    font-weight: 700;
  }
  .bonusReqWatch {
    font-size: 22px;
    color: #007bff;
    font-weight: 900;
  }
  .bonusinfoPointCont {
    font-size: 2.85vw;
    font-weight: 800;
    letter-spacing: 0.2vw;
  }

  .bonusAdCount button {
    margin: 0 0 0 4vw;
    padding: 2vw 2.25vw;
    border: none;
    background-color: #fff;
    border-radius: 14px;
    font-size: 2.64vw;
    font-weight: 600;
    letter-spacing: 0.12vw;
  }

  .HomeEarnCard {
    margin-left: 8vw;
    height: 33.5vw;
    width: 50vw;
  }
  .newBadge {
    height: 130px !important;
    top: -35px;
    left: 42px;
  }
  .limitedBadge {
    margin: 0 0 0 8.4vw;
    height: 80px !important;
    width: 140px !important;
    top: -4.2px;
  }
  .exchangeImg {
    padding: 7vw 5.7vw;
  }

  .HomeEarnpara {
    font-size: 20px;
  }
  .HomeEarnCoins {
    margin: 0 0 0 3.3vw;
    font-size: 3.39vw;
  }
  .HomeEarnAdsBtn {
    padding: 11px 36px;
    font-size: 2.65vw;
  }
  .giveBackImage {
    height: 340px;
  }
  .homeFollowDetail {
    margin: 0 0 0 3.3vw;
    font-size: 2.77vw;
    letter-spacing: 0.15vw;
  }
  .homeFollowBtn {
    padding: 1.82vw 4.5vw;
    font-size: 2.62vw;
    letter-spacing: 0.26vw;
  }
}

@media (min-width: 992px) {
  .homeFollowBtn:hover {
    background-color: #161827;
    border: 2px solid #fff;
    transform: scale(1.05);
  }
  .HomeEarnAdsBtn:hover {
    transform: scale(1.07);
    background-color: #161827;
    border: 2px solid #fff;
  }
  .bonusCont {
    padding: 1vw 5vw;
    margin: 2vw 7vw 0;
    border: none;
    border-radius: 20px;
  }

  .bonusCoin {
    font-size: 1.6vw !important;
    margin: 0 0 0 2.5vw;
  }
  .bonusCount {
    font-size: 1.6vw;
    font-weight: 700;
  }
  .bonusReqWatch {
    font-size: 20px;
    color: #007bff;
    font-weight: 900;
  }
  .bonusinfoPointCont {
    font-size: 1.4vw;
    font-weight: 800;
    letter-spacing: 0.2vw;
  }

  .bonusAdCount button {
    margin: 0 0 0 3vw;
    padding: 0.85vw 1.2vw;
    border: none;
    border-radius: 14px;
    font-size: 1.25vw;
    font-weight: 600;
    letter-spacing: 0.1vw;
  }

  .HomeEarnCard {
    cursor: pointer;
    margin-left: 0vw;
    margin-top: 24px;
    height: 18.7vw;
    width: 27vw;
  }
  .newBadge {
    height: 110px !important;
    top: -24px;
    left: -20px;
  }

  .limitedBadge {
    margin: 0;
    height: 60px !important;
    width: 130px !important;
    top: 2.5px;
    left: 18px;
  }
  .exchangeImg {
    padding: 3.7vw 4vw;
  }

  .HomeEarnpara {
    font-size: 22px;
  }

  .HomeEarnCoins {
    margin: 0 0 0 1.4vw;
    font-size: 1.95vw;
  }
  .HomeEarnAdsBtn {
    padding: 12px 36px;
    font-size: 1.55vw;
  }
  .giveBackImage {
    height: 370px;
  }
  .homeFollowDetail {
    margin: 0 0 0 2.3vw;
    font-size: 1.52vw;
    letter-spacing: 0.1vw;
  }
  .homeFollowBtn {
    padding: 1.17vw 2.8vw;
    border: 2px solid #fff;
    font-size: 1.53vw;
  }
}

@media (min-width: 1301px) {
  .HomeEarnCard {
    height: 16vw;
    width: 24.5vw;
  }
  .HomeEarnpara {
    font-size: 23px;
  }
  .HomeEarnCoins {
    margin: 0 0 0 1.2vw;
    font-size: 1.75vw;
  }
  .HomeEarnAdsBtn {
    padding: 11px 36px;
    font-size: 1.35vw;
  }
  .giveBackImage {
    height: 410px;
  }
  .homeFollowDetail {
    margin: 0 0 0 2vw;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
  }
  .homeFollowBtn {
    padding: 0.81vw 2.2vw;
    font-size: 1.2vw;
  }
}
