.homeNav {
  padding: 12px;
  width: 100%;
  background-color: #151726;
}

.homeLogoFir {
  font-size: 28px !important;
  color: #ffd700;
  font-family: "poppins";
  letter-spacing: 1px;
}
.homeLogoLas {
  margin: 0 0 0 2.5px;
  font-size: 28px !important;
  font-family: "poppins";
  letter-spacing: 1px;
  color: #fff;
}

.countryPara {
  margin: 0;
  font-family: "nunito";
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 10px 14px;
  background-color: #282c45;
  border-radius: 14px;
}

.countryPara img {
  margin: 0 10px 0 5px;
  width: 24px;
  height: 18px;
}

@media (min-width: 575px) {
  .countryPara {
    font-size: 2.5vw;
    letter-spacing: 0.4px;
    padding: 10px 20px;
    border-radius: 16px;
  }
}

@media (min-width: 600px) {
  .homeNav {
    padding: 13px;
  }

  .homeLogoFir {
    font-size: 30px !important;
  }
  .homeLogoLas {
    font-size: 30px !important;
  }
}

@media (min-width: 992px) {
  .countryPara {
    font-size: 1.43vw;
    padding: 8px 18px;
    border-radius: 18px;
  }
}

@media (min-width: 1024px) {
  .homeNav {
    padding: 17px;
  }

  .homeLogoFir {
    font-size: 34px !important;
  }
  .homeLogoLas {
    font-size: 34px !important;
  }
}

@media (min-width: 1700px) {
  .homeNav {
    padding: 18px;
  }

  .homeLogoFir {
    font-size: 36px !important;
  }
  .homeLogoLas {
    font-size: 36px !important;
  }
}

@media (min-width: 2300px) {
  .homeNav {
    padding: 20px;
  }

  .homeLogoFir {
    font-size: 40px !important;
  }
  .homeLogoLas {
    font-size: 40px !important;
  }
}
