.formCont label {
  margin: 20px 0 0 !important;
}

.emailOtpCont {
  display: flex;
  align-items: center;
}

.sendOtpBtn {
  margin: 0 0 0 10px;
  padding: 8px 6px;
  width: 57%;
  text-align: center;
  background-color: #3b82f6;
  color: #fff;
  border-radius: 14px;
  border: 2px solid transparent;
  font-weight: 600;
  font-size: 4.07vw;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sendOtpBtn:active {
  transform: scale(0.9);
}

@media (min-width: 576px) {
  .formCont label {
    margin: 16px 0 0;
    font-size: 18px;
  }

  .submitBtn {
    margin: 0 0 0 10px;
    padding: 8px 6px;
    width: 40%;
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .formCont label {
    font-size: 18px;
  }
  .sendOtpBtn {
    width: 37%;
    font-size: 16px;
  }
}
