.formCont label {
  margin: 16px 0 0;
}

.emailOtpCont {
  display: flex;
  align-items: center;
}

.emailOtpCont a {
  margin: 0 0 0 10px;
  padding: 8px 6px;
  width: 35%;
  text-align: center;
  background-color: #3b82f6;
  border-radius: 14px;
  border: 2px solid transparent;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.emailOtpCont a:hover {
  transform: scale(1.05);
}
