.formContainer {
  font-family: "nunito";
  margin: 40px 0 0 0;
  padding: 30px 18px !important;
  text-align: center;
  background: rgba(255, 255, 255, 0.15); /* translucent background */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari support */
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  color: #fff;
}

.formContainer label {
  font-size: 18px;
  display: block;
  text-align: left !important;
}

.formContainer input {
  width: 100%;
  padding: 8px 18px;
  margin: 7px 0;
  border: none;
  border-radius: 10px;
  outline: none;
}

.formContainer p {
  display: block;
  font-size: 18px;
  font-family: "nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-decoration: underline;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.formContainer p:hover {
  color: #eeeeee;
}

.submitBtn {
  margin: 16px 0 0 0;
  width: 100%;
  padding: 10px 7vw;
  border: 4px solid transparent;
  border-radius: 18px;
  font-weight: 700;
  font-family: "outfit", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #3b82f6;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.6px;
}

.submitBtn:active {
  color: #3b82f6;
  background-color: #fff;
  border: 4px solid #3b82f6;
  transform: scale(0.95);
}

/* ============================================= Responsivness ============================================ */

@media (min-width: 576px) {
  .formContainer {
    margin: 50px 0 0 0;
    width: 90%;
    padding: 50px 45px !important;
  }

  .formContainer input {
    width: 100%;
    padding: 10px 20px;
    margin: 12px 0;
  }

  .formContainer p {
    font-size: 22px;
    letter-spacing: 0.5px;
  }

  .submitBtn {
    width: 100%;
    margin: 30px 0 0;
    padding: 10px 5vw;
    border: 4px solid transparent;
    font-size: 22px;
    letter-spacing: 0.7px;
  }
  .formContainer label {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .formContainer {
    margin: 0;
    width: 50%;
    padding: 30px 45px !important;
    padding: 2rem;
  }

  .formContainer input {
    width: 100%;
    padding: 8px 18px;
    margin: 5px 0;
  }

  .formContainer p {
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  .submitBtn {
    text-align: center;
    align-items: center;
    width: 75%;
    margin: 20px 0 0 0;
    padding: 10px 25px;
    border: 4px solid transparent;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.7px;
  }
  .submitBtn:hover {
    color: #fff;
    background-color: transparent;
    border: 4px solid #fff;
  }
  .formContainer label {
    font-size: 16px;
  }
}
