.formContainer {
  width: 50%;
  padding: 30px 45px !important;
  text-align: center;
  background: rgba(255, 255, 255, 0.15); /* translucent background */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari support */

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

  padding: 2rem;
  color: #fff;
}

.formContainer label {
  display: block;
  text-align: left !important;
}

.formContainer input {
  width: 100%;
  padding: 8px 18px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  outline: none;
}

.formContainer p {
  display: block;
  font-size: 18px;
  font-family: "nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.formContainer p:hover {
  color: #eeeeee;
}

.formContainer button {
  margin: 50px 0 0 57px;
  padding: 10px 7vw;
  border: 4px solid transparent;
  border-radius: 18px;
  font-weight: 700;
  font-family: "outfit", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #3b82f6;
  transition: all 300ms ease-in-out;
  letter-spacing: 0.6px;
}

.formContainer button:hover {
  color: #fff;
  background-color: transparent;
  border: 4px solid #fff;
}
.formContainer button:active {
  color: #fff;
  background-color: #3b82f6;
  border: 4px solid #3b82f6;
}
