/* Default (Laptop & Desktop) */
.Toastify__toast-container {
  top: 90px !important;
}

/* 📱 Mobile (max-width: 480px) */
@media (max-width: 480px) {
  .Toastify__toast-container {
    top: 80px !important;
    width: 75% !important;
    right: 10px !important;
    left: auto !important;
  }
  .Toastify__toast-container .Toastify__toast {
    margin-bottom: 10px !important;
    font-size: 15px;
  }
}

/* 📲 Tablet (481px – 1024px) */
@media (min-width: 481px) and (max-width: 1024px) {
  .Toastify__toast-container {
    top: 100px !important;
  }
}
